# Cache
*__pycache/
*.DS_Store

# Virtual environments and dependencies
env/
fasturec/

# Custom
sequences/
clustering/
blast_tmp/
msa/
trees/
trees_bootstrap/
*/greedy_consensus.log
*/majority_consensus.log
blast.sh
pipeline.txt
.RData
.Rhistory